@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@800&family=Gothic+A1:wght@500;900&display=swap');
$blanc: #F8F8F8;
$noir: #161616;
$beige: #EFDDD6;
$mauve1: #BEAAC1;
$mauve2: #9CA0B7;
$violet: #530E33;
$rouge: #d83232;
$vert: #60a57c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; //ou proximity
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.slide{
    background-color: $mauve2;
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    // position: -webkit-sticky; //Pour Safari
    // position: sticky;
    top: 0;
    z-index: 1;

    nav{
        display: flex;
        justify-content: end;
        font-size: 3vh;
        
        ul{
            list-style: none;
            
            li{
                font-family: 'Gothic A1', sans-serif;
                
                a{
                    color: $blanc;
                    text-decoration: none;
                }
            }
        }
    }

    .bouton{
        background-color: $violet;
        width: 38vh;
        height: 10vh;
        justify-content: space-between;

        h2{
            display: flex;
            justify-content: center;
            text-align: center;
            
            a{
                color: $blanc;
                font-family: 'Gothic A1', sans-serif;
                text-decoration: none;
                font-size: 4vh;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }

    .bloc_texte{

        justify-content: start;

        h1, h3{
            color: $blanc;
            font-family: 'Gothic A1', sans-serif;
            display: flex;
            justify-content: end;
        }
    
        h1{
            font-weight: 900;
            font-size: 6vh;
        }
    
        h3{
            font-weight: 500;
            font-size: 3vh;
        }
    }

    #portfolio{
        max-width: 65%;
        height: auto;
        margin-top: 5%;
        position: relative;
    }

    #logo{
        max-width: 10%;
        height: auto;
        margin-top: 5%;
        position: relative;
    }

    .fleche {
        width: 0;
        height: 0;
        border-right: 5vh solid transparent;
        border-left: 5vh solid transparent;
        border-top: 4vh solid $noir;
        justify-content: center;
        flex: flex;
    }
}

// ****************************************************************************

.slide2{
    background: linear-gradient(150deg, $beige, 70%, $mauve1);
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    z-index: 2;

    h1{
        color: $noir;
        font-family: 'Bodoni Moda', serif;
        font-size: 10vh;
    }

    #oeil{
    max-width: 65%;
    height: auto;
    margin-top: 5%;
    position: relative;
    }
}

// ****************************************************************************

.slide3{
    background-color: $mauve2;
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    // position: -webkit-sticky; //Pour Safari
    // position: sticky;
    overflow: hidden;
    position: relative;
    z-index: 3;
    

    h1{
        color: $blanc;
        font-family: 'Bodoni Moda', serif;
        font-size: 10vh;
    }


        #container-products{
            width: 80%;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-evenly;
            display: flex;
        }

        .products{
            display: block;
            width: 300px;
            height: 200px;
            position: relative;
            overflow: hidden;
            margin-top: 20px;
                
            img{
                object-fit: cover;
                width: 800px;
                height: 100%;
            }
        }

    a{
        color: $noir;
        font-family: 'Gothic A1', sans-serif;
        text-decoration: none;
        font-size: 3.5vh;
        font-weight: 800;
        letter-spacing: 1px;
    }

    #portfolio{
        max-width: 45%;
        height: auto;
        margin-top: 5%;
        position: relative;
    }
}

// ****************************************************************************

.slide4{
    background: linear-gradient(150deg, $beige, 70%, $mauve1);
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    z-index: 4;
    overflow: hidden;

    h1{
        color: $noir;
        font-family: 'Bodoni Moda', serif;
        font-size: 10vh;
        padding-bottom: -5%;

    }

    #plantes{
        max-width: 25%;
        height: auto;
        margin-top: -72vh;
        margin-left: -5%;
        position: relative;
    }

    form{
        margin-left: 50%;

        .form-group{
            width: 100%;
            margin: 2% 0;

                label{
                    display: block;
                    color: $noir;
                    font-family: 'Gothic A1', sans-serif;
                    font-size: 2.8vh;
                    margin-top: 3%;
                }

                textarea{
                    resize: none;
                    height: 12em;
                }
        }

        .form-group input, .form-group textarea{
            width: 100%;
            font-size: 1.2em;
            padding: 10px;
            margin-top: 5px;
            outline: solid $noir 0.5px;
        }
        
        .form-group input[type=submit]{
            width: auto;
            padding: 3px 50px;
            cursor: pointer;
        }
    }

    .is-invalid{
        border-color: $rouge;
    }
    
    .is-invalid:focus{
        border: none;
        outline:none;
        outline: solid $rouge 1.5px;
    }
    
    .invalid-feedback{
        color: $rouge;
        display: none;
    }
    /* select frère adjacent */
    .is-invalid + .invalid-feedback{
        display: block;
    }
    
    /** pour PHP (GET error et GET add = success) **/
    .error{
        font-family: 'Gothic A1', sans-serif;
        font-size: 2.2vh;
        font-weight: 800;
        width: 100%;
        text-align: center;
        color: $rouge;
        padding: 10px 0;
        margin-bottom: -20px;
    }
    
    .success{
        font-family: 'Gothic A1', sans-serif;
        font-weight: 800;
        text-align: center;
        color: $vert;
        padding: 10px 0;
        margin-bottom: -10px;
    }

    .footer{
        font-family: 'Gothic A1', sans-serif;
        font-size: 2.2vh;
        padding-top: 3%;

        ul{
            list-style:none;
            text-align:center;
            line-height:1.8;

            a{
                color: $noir;
                text-decoration:none;
            }

            a:hover{
                color: $violet;
            }
        }

        .copyright{
            margin-top:1%;
            text-align:center;
            font-size: 1.7vh;
            font-weight: 500;
        }
    }
}
