@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@800&family=Gothic+A1:wght@500;900&display=swap');
$blanc: #F8F8F8;
$noir: #161616;
$beige: #EFDDD6;
$mauve1: #BEAAC1;
$mauve2: #9CA0B7;
$violet: #530E33;
$rouge: #d83232;
$vert: #60a57c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; //ou proximity
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.slide{
    background-color: $mauve2;
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    // position: -webkit-sticky; //Pour Safari
    // position: sticky;
    // top: 0;
    z-index: 1;
    overflow: hidden;

    #portfolio{
        max-width: 60%;
        height: auto;
        margin-top: 2.5%;
        position: absolute;
        margin-left: -5%;

        @media screen and (max-width: 1300px)
        {
            max-width: 70%;
        }

        @media screen and (max-width: 787px)
        {
            max-width: 70%;
            margin-top: 15%;
        }

        @media screen and (max-width: 510px)
        {
            max-width: 85%;
            margin-top: 30%;
        }

        @media screen and (max-width: 435px)
        {
            max-width: 87%;
        }
    }

    .hamburger{
        width: 100px;
        background-color: $beige;
        border-radius: 35px;
        position: fixed;
        z-index: 15;
        padding: 10px;
        border: $noir solid 2px;
        cursor: pointer;
        top: 7.5vh;
        margin-left: 72%;

        @media screen and (max-width: 787px)
        {
            margin-left: 70%;
            top: 5vh;
        }

        @media screen and (max-width: 550px)
        {
            margin-left: 65%;
            top: 2.5vh;
        }

        @media screen and (max-width: 435px)
        {
            margin-left: 57%;
        }

        .bar{
            width: 35px;
            height: 2.5px;
            margin: 15px 0;
            margin-left: 50%;
            transform: translate(-50%, 0);
            background-color: $noir;
            transition: transform 0.3s ease;

            &.cross {
                &:first-child {
                    transform: translateX(-50%) rotate(45deg);
                }
    
                &:last-child {
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }
    }

    .closeNav {
        display: none;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.3s ease-out;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: $noir;
        list-style: none;
        padding: 4rem 0;
        transition: all 0.3s ease-out;

        li{
            width: 15%;
            height: 0 auto;
            margin: 0 auto 0 auto;

            @media screen and (max-width: 1370px)
            {
                width: 30%;
            }

            @media screen and (max-width: 1025px)
            {
                width: 80%;
            }

            a{
                font-family: 'Gothic A1', sans-serif;
                font-weight: 500;
                font-size: 50px;
                color: $blanc;
                text-decoration: none;
                display: flex;
                justify-content: center;
                margin: 75px 0;
                transition: all 0.2s ease-in-out;
            }
    
            a:hover{
                transform: scale(1.12);
            }
        }
      }

    .showMenu {
        transform: translateY(0);
    }

    .open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 7.5px);
    }
    
    .open .bar:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -7.5px);
    }

    // nav{
    //     display: flex;
    //     justify-content: end;
    //     font-size: 22px;
    //     margin-bottom: 45vh;
    //     text-align: end;
        
    //     ul{
    //         margin-top: 2.5%;
    //         list-style: none;
    //         padding: 3%;
            
    //         li{
    //             margin-top: 20px;
    //             font-family: 'Gothic A1', sans-serif;
                
    //             a{
    //                 color: $blanc;
    //                 text-decoration: none;
    //                 text-shadow: 1px 1px 10px $noir;
    //             }

    //             a:hover{
    //                 color: $violet;
    //             }
    //         }
    //     }
        
    //     @media screen and (max-width: 1300px)
    //     {
    //         margin-bottom: 36vh;
    //     }

    //     @media screen and (max-width: 435px)
    //     {
    //         display: none;
    //         margin-bottom: 30vh;
    //         display: flex;
    //         justify-content: space-around;
    //         text-align: center;
    //     }
    // }
    
    .wrapper2{
        width: 100%;
        display: flex;
        justify-content: end;
        padding-top: 65vh;

        #logo{
            max-width: 120px;
            height: auto;
            padding-top: 10px;

            @media screen and (max-width: 787px)
            {
                max-width: 150px;
                margin-left: 5%;
            }
            
            @media screen and (max-width: 510px)
            {
                max-width: 100px;
                padding-bottom: 45%;
                margin-left: 0;
            }

            @media screen and (max-width: 400px)
            {
                max-width: 75px;
            }
        }

        .bloc{
            padding-left: 2.5%;
            
            h1, h3{
                color: $blanc;
            }
            
            h1{
                font-family: 'Bodoni Moda', serif;
                font-size: 67px;
                letter-spacing: 2px;

                @media screen and (max-width: 510px)
                {
                    font-size: 55px;
                }
            }
            
            h3{
                font-family: 'Gothic A1', sans-serif;
                font-weight: 500;
                font-size: 22px;
                letter-spacing: 1px;

                @media screen and (max-width: 510px)
                {
                    font-size: 19px;
                    padding-top: 2%;
                }
            }

            @media screen and (max-width: 510px)
            {
                justify-content: center;
            }
        }

        @media screen and (max-width: 1300px)
        {
            padding-top: 55vh;
        }

        @media screen and (max-width: 787px)
        {
            padding-top: 40vh;
            text-align: end;
            padding-bottom: 5vh;
        }
    }
    
    @media screen and (max-width: 435px)
    {
        justify-content: center;
    }

    .bouton{
        background-color: $violet;
        width: 38vh;
        height: 8vh;
        display: flex;
        justify-content: center;
        padding: 1.5vh 0; 
        margin-left: 10%;
        border: $beige solid 2px;
        border-radius: 5px;
            
        a{
            color: $blanc;
            font-family: 'Gothic A1', sans-serif;
            text-decoration: none;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 1px;

            @media screen and (max-width: 435px)
            {
                font-size: 25px;
            }
        }

        @media screen and (max-width: 1400px)
        {
            margin-left: 5%;
        }

        @media screen and (max-width: 1300px)
        {
            margin-top: 11vh;
            margin-left: 2%;
        }

        @media screen and (max-width: 787px)
        {
            margin-top: 10vh;
            margin: 0 auto 0 auto;
        }

        @media screen and (max-width: 435px)
        {
            width: 30vh;
            height: 6.5vh;
            padding: 1vh 0;
        }
    }
}

// ****************************************************************************

.slide2{
    background: linear-gradient(150deg, $beige, 80%, $mauve1);
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 2;
    overflow: hidden;

    .wrapper2{
        width: 50%;
        margin: 0 auto;
        margin-right: 50%;

        h1{
            color: $noir;
            font-family: 'Bodoni Moda', serif;
            font-size: 75px;
            letter-spacing: 1px;

            @media screen and (max-width: 510px)
            {
                font-size: 70px;
            }
        }
    
        p{
            color: $noir;
            font-family: 'Gothic A1', sans-serif;
            font-size: 18px;
            margin-top: 10%;

            @media screen and (max-width: 510px)
            {
                font-size: 15px;
            }
        }

        h3{
            color: $noir;
            font-family: 'Bodoni Moda', serif;
            font-size: 30px;
            margin-top: 15%;
            margin-bottom: 5%;
            letter-spacing: 1px;

            @media screen and (max-width: 510px)
            {
                font-size: 25px;
                margin-top: 10%;
            }
        }

        #competence{
            max-width: 7vh;
            height: auto;
            margin: 20px 20px;

            @media screen and (max-width: 865px)
            {
                max-width: 5vh;
                margin: 12px 7px;
            }
        }

        @media screen and (max-width: 510px)
        {
            width: 85%;
            margin: 0 auto;
        }
    }

    .wrapper3{
        width: 50%;
        margin: 0 auto;
        margin-right: -10%;
        z-index: -2;

        #oeil{
        max-width: 100%;
        height: auto;
        margin-top: -50vh;
        position: relative;
        }

        @media screen and (max-width: 510px)
        {
            margin-top: -27vh;
            opacity: 0.5;
        }
    }
}

// ****************************************************************************

.slide3{
    background-color: $mauve2;
    min-height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    // position: -webkit-sticky; //Pour Safari
    // position: sticky;
    overflow: hidden;
    position: relative;
    z-index: 3;
    

    h1{
        color: $blanc;
        font-family: 'Bodoni Moda', serif;
        font-size: 75px;
        letter-spacing: 1px;
        padding-bottom: 4%;

        @media screen and (max-width: 510px)
        {
            padding-top: 12vh;
            padding-bottom: 10%;
        }
    }

    .wrapper2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        gap: 20px;
    }
    
    @media screen and (max-width: 650px) {
        .wrapper2 {
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        }
    }
    
    #illustr, #misenp, #anim {
        h2 {
            font-family: 'Gothic A1', sans-serif;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            justify-content: flex-end;
            background-size: cover;
            background-position: center center;
    
            a {
                color: $blanc;
                font-weight: 500;
                text-align: center;
                text-decoration: none;
            }

            a:hover{
                color: $violet;
            }
        }
    
        img {
            display: block;
            width: 75%;
            height: auto;
            margin: 0 auto;
            text-align: center;
            }

            @media screen and (max-width: 650px)
            {
                width: 100%;
            }
          
    }
}

// ****************************************************************************

.slide4{
    background: linear-gradient(150deg, $beige, 80%, $mauve1);
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    z-index: 4;
    overflow: hidden;

    h1{
        color: $noir;
        font-family: 'Bodoni Moda', serif;
        font-size: 75px;
        padding-bottom: -5%;
        letter-spacing: 1px;

        @media screen and (max-width: 720px)
        {
            margin-left: -5%;
        }

        @media screen and (max-width: 510px)
        {
            margin-left: 0;
            font-size: 60px;
        }

    }

    #plantes{
        max-width: 25%;
        height: auto;
        margin-top: -45vh;
        margin-left: -5%;
        position: relative;
        z-index: -5;

        @media screen and (max-width: 1920px)
        {
            margin-top: -72vh;
        }

        @media screen and (max-width: 1520px)
        {
            max-width: 35%;
            margin-top: -60vh;
        }

        @media screen and (max-width: 900px)
        {
            max-width: 60%;
            margin-top: -50vh;
            margin-left: -35%;
        }

        @media screen and (max-width: 510px)
        {
            margin-left: -60%;
            max-width: 100%;
            margin-top: -65vh;
        }
    }

    form{
        margin-left: 50%;

        @media screen and (max-width: 800px)
        {
            margin-left: 0;
        }

        .form-group{
            width: 100%;
            margin: 3% 0;

            @media screen and (max-width: 800px)
            {
                text-align: right;
            }

                label{
                    display: flex;
                    color: $noir;
                    font-family: 'Gothic A1', sans-serif;
                    font-size: 21px;
                    margin-top: 3%;
                    padding-right: 10px;

                    @media screen and (max-width: 800px)
                    {
                        justify-content: flex-end;
                    }
                    
                    @media screen and (max-width: 510px)
                    {
                        font-size: 17px;
                    }
                }

                textarea{
                    resize: none;
                    height: 12em;

                    @media screen and (max-width: 510px)
                    {
                        height: 7em;
                    }
                }
        }

        .form-group input, .form-group textarea{
            width: 100%;
            font-size: 1.2em;
            padding: 10px;
            margin-top: 5px;
            outline: solid $noir 0.5px;
            border-radius: 5px;

            @media screen and (max-width: 510px)
            {
                margin-top: 2.5px;
                padding: 7.5px;
            }
        }
        
        .form-group input[type=submit]{
            width: auto;
            padding: 3px 50px;
            cursor: pointer;
            background-color: $violet;
            color: $blanc;
        }
    }

    .is-invalid{
        border-color: $rouge;
    }
    
    .is-invalid:focus{
        border: none;
        outline:none;
        outline: solid $rouge 1.5px;
    }
    
    .invalid-feedback{
        color: $rouge;
        display: none;
    }

    .is-invalid + .invalid-feedback{
        display: block;
    }
    
    .error{
        font-family: 'Gothic A1', sans-serif;
        font-size: 16.5px;
        font-weight: 800;
        width: 100%;
        text-align: center;
        color: $rouge;
        padding: 10px 0;
        margin-bottom: -20px;
    }
    
    .success{
        font-family: 'Gothic A1', sans-serif;
        font-weight: 800;
        text-align: center;
        color: $vert;
        padding: 10px 0;
        margin-bottom: -10px;
    }

    .footer{
        font-family: 'Bodoni Moda', serif;
        font-size: 16.5px;
        padding-top: 3%;
        padding-bottom: 2%;
        color: $noir;
        text-shadow: $mauve2 1px 1px 10px;
    
        @media screen and (max-width: 510px)
        {
            padding-top: 15%;
            padding-bottom: 5%;
        }
    
        ul{
            list-style:none;
            text-align:center;
            line-height:1.8;
    
            a{
                color: $noir;
                text-decoration:none;
            }
    
            a:hover{
                color: $violet;
            }
        }
    
        .copyright{
            font-family: 'Gothic A1', sans-serif;
            margin-top:1%;
            text-align:center;
            font-size: 13px;
            font-weight: 500;
        }
    }
}



// ****************************************************************************

.slide5{
    background: $mauve2;
    min-height: 100vh;
    width: 100%;

    nav{
        display: flex;
        padding-top: 2.5%;
        // justify-content: end;

        @media screen and (max-width: 900px)
        {
            padding-top: 7.5%;
        }
            
        .wrapper2{
            width: 70%;
            margin-right: 30%;
            margin-bottom: 2.5%;
    
            h1{
                color: $blanc;
                font-family: 'Bodoni Moda', serif;
                font-size: 50px;
                margin-bottom: 7.5%;

                @media screen and (max-width: 900px)
                {
                    padding-top: 11vh;
                }
    
                @media screen and (max-width: 650px)
                {
                    font-size: 40px;
                }
            }

            @media screen and (max-width: 900px)
            {
                margin-right: -7.5%;
            }
        }

        ul{
            list-style: none;
            padding-top: 2%;
            font-size: 23px;
            // outline: solid $violet 1vh;
                
            li{
                font-family: 'Gothic A1', sans-serif;
                background-color: $violet;
                padding: 15px 25px;
                border-radius: 5px;
                    
                a{
                    color: $blanc;
                    text-decoration: none;
                }
            }
        }
    }

    #container-products{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
        gap: 20px;

        @media screen and (max-width: 650px)
        {
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        }
        
        .products {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            justify-content: flex-end;
        
                        
            img{
                object-fit: cover;
                width: 80%;
                background: no-repeat;
                height: auto;
                padding-bottom: 10px;
    
                @media screen and (max-width: 650px)
                {
                    width: 80%;
                }
            }
        
            .prod-title{
                text-align: center;
                width: 100%;
                margin: 0 auto 0 auto;
                font-family: 'Gothic A1', sans-serif;
                font-size: 20px;
                color: $blanc;
             }
        }
    }
    
    a{
        text-decoration: none;
    }

    h3{
        font-family: 'Gothic A1', sans-serif;
        color: $blanc;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }
    
    video{
        width: 100%;
        margin: 0 auto 0 auto;
        padding-top: 10px;
        padding-bottom: 10%;
    }

    .footer{
        font-family: 'Bodoni Moda', serif;
        font-size: 16.5px;
        padding-top: 3%;
        padding-bottom: 2%;
        color: $blanc;
        text-shadow: $mauve2 1px 1px 10px;
    
        @media screen and (max-width: 510px)
        {
            padding-top: 15%;
            padding-bottom: 5%;
        }
    
        ul{
            list-style:none;
            text-align:center;
            line-height:1.8;
    
            a{
                color: $blanc;
                text-decoration:none;
            }
    
            a:hover{
                color: $violet;
            }
        }
    
        .copyright{
            font-family: 'Gothic A1', sans-serif;
            margin-top:1%;
            text-align:center;
            font-size: 13px;
            font-weight: 500;
        }
    }
}

// ****************************************************************************

.slide6{
    background: linear-gradient(150deg, $beige, 80%, $mauve1);
    min-height: 100vh;
    width: 100%;

    nav{
        display: flex;
        padding-top: 2.5%;

        @media screen and (max-width: 900px)
        {
            padding-top: 7.5%;
        }
            
        .wrapper2{
            width: 70%;
            margin-right: 30%;
            margin-bottom: 5%;
    
            h1{
                color: $noir;
                font-family: 'Bodoni Moda', serif;
                font-size: 50px;
                margin-bottom: 7.5%;

                @media screen and (max-width: 900px)
                {
                    padding-top: 13vh;
                    margin-left: 10%;;
                }

                @media screen and (max-width: 650px)
                {
                    font-size: 30px;
                }
            }

            @media screen and (max-width: 900px)
            {
                margin-right: -7.5%;
            }
        }

        ul{
            list-style: none;
            padding-top: 2%;
            font-size: 23px;
            // outline: solid $violet 1vh;
                
            li{
                font-family: 'Gothic A1', sans-serif;
                background-color: $violet;
                padding: 15px 25px;
                border-radius: 5px;
                    
                a{
                    color: $blanc;
                    text-decoration: none;
                }
            }
        }
    }

    .wrapper3{
        width: 60%;
        margin: 0 auto;
        color: $noir;
        font-family: 'Gothic A1', sans-serif;

        h2{
            font-size: 30px;
            margin-top: 15%;
            margin-bottom: 7.5%;
        }

        p{
            font-size: 17px;
            margin-bottom: 5%;
        }
    }

    .footer{
        font-family: 'Bodoni Moda', serif;
        font-size: 16.5px;
        padding-top: 3%;
        padding-bottom: 2%;
        color: $noir;
        text-shadow: $mauve2 1px 1px 10px;
    
        @media screen and (max-width: 510px)
        {
            padding-top: 15%;
            padding-bottom: 5%;
        }
    
        ul{
            list-style:none;
            text-align:center;
            line-height:1.8;
    
            a{
                color: $noir;
                text-decoration:none;
            }
    
            a:hover{
                color: $violet;
            }
        }
    
        .copyright{
            font-family: 'Gothic A1', sans-serif;
            margin-top:1%;
            text-align:center;
            font-size: 13px;
            font-weight: 500;
        }
    }
}